* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(218, 218, 218, 0.867);
  height: 100vh;
  width: 100vw;
}

header {
  padding-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 1.4em;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  width: 100%;
}

#playerBoard, #botBoard {
  background-color: white;
  border: 1px solid rgb(0, 113, 212);
  width: 500px;
  height: 500px;
  border-radius: 4px;
  margin-top: -70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#startBtn {
  background-color: white;
  border: 1px solid rgb(0, 113, 212);
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
}

#coords {
  background-color: white;
  border: 1px solid rgb(0, 113, 212);
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
}

section {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section > div {
  margin-top: -120px;
}

.cell {
  width: 1%;
  height: 1%;
  border: 0.7px solid rgb(0, 113, 212);
  background-color: white;
}